<!-- <app-widgets-dropdown></app-widgets-dropdown> -->
<div id="flex" >
  <c-card class="mb-4">
    <c-card-body>
      <c-row>
        <div>

        
     <div  id="contai">
      <h1>Setup guide</h1>
      <p>Use this personalized guide to get your student portfolio.</p><br>
      <span>{{task}} of 3 tasks complete</span>
      <p> <p-progressBar [value]="value"></p-progressBar> </p>
     </div>  
     <div *ngIf="url">
      Portfolio:- <a target="_blank" href="{{url}}">{{url}}</a><br>
      <small>*If url not open in one click please try again</small>
     </div>
     <hr>
     <p-accordion>
      <p-accordionTab styleClass="acc" header="Customize theme">
        <div class="flex">
          <div class="Clogo">
            <svg *ngIf="task1==true"  width="20" height="20" fill="#008060 " viewBox="0 0 20 20" class="Polaris-Icon__Svg_375hu" focusable="false" aria-hidden="true"><path fill-rule="evenodd" d="M0 10a10 10 0 1 0 20 0 10 10 0 0 0-20 0zm15.2-1.8a1 1 0 0 0-1.4-1.4l-4.8 4.8-2.3-2.3a1 1 0 0 0-1.4 1.4l3 3c.4.4 1 .4 1.4 0l5.5-5.5z"></path></svg>
            <svg width="20" *ngIf="task1==false" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"><circle cx="10" cy="10" r="8.75" stroke="#BABEC3" stroke-width="2.5" stroke-dasharray="3.5 3.5" style="--darkreader-inline-stroke: #bfbab1;" data-darkreader-inline-stroke=""></circle></svg>&nbsp;
          </div>
          <div>
            <p>Pick a theme and customize your content, layout, and typography to reflect your portfolio.</p>
      <br>
            <button mat-flat-button class="btn" routerLink="/custom-theme" >Customize theme</button>
  
          </div>
  
        </div>
      </p-accordionTab>
      <p-accordionTab styleClass="acc" header="Add your Info">
        <div class="flex">
          <div class="Clogo">
            <svg *ngIf="task2==true"  width="20" height="20" fill="#008060 " viewBox="0 0 20 20" class="Polaris-Icon__Svg_375hu" focusable="false" aria-hidden="true"><path fill-rule="evenodd" d="M0 10a10 10 0 1 0 20 0 10 10 0 0 0-20 0zm15.2-1.8a1 1 0 0 0-1.4-1.4l-4.8 4.8-2.3-2.3a1 1 0 0 0-1.4 1.4l3 3c.4.4 1 .4 1.4 0l5.5-5.5z"></path></svg>
            <svg width="20" *ngIf="task2==false" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"><circle cx="10" cy="10" r="8.75" stroke="#BABEC3" stroke-width="2.5" stroke-dasharray="3.5 3.5" style="--darkreader-inline-stroke: #bfbab1;" data-darkreader-inline-stroke=""></circle></svg>&nbsp;
          </div>
          <div>
            <p> Write our information and details for your portfolio.</p>
      <br>
            <button routerLink="/addinfo" mat-flat-button class="btn" >information</button>
  
          </div>
  
        </div>
      </p-accordionTab>
      <!-- <p-accordionTab styleClass="acc" header="Name your portfolio web app">
        <div class="flex">
          <div class="Clogo">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"><circle cx="10" cy="10" r="8.75" stroke="#BABEC3" stroke-width="2.5" stroke-dasharray="3.5 3.5" style="--darkreader-inline-stroke: #bfbab1;" data-darkreader-inline-stroke=""></circle></svg>&nbsp;
          </div>
          <div>
            <p> Your temporary portfolio name is currently My portfolio. The portfolio web app name appears in your admin and your online portfolio.</p>
      <br>
            <button mat-flat-button class="btn" >Name portfolio</button>
  
          </div>
  
        </div>
      </p-accordionTab> -->
      <p-accordionTab styleClass="acc" header="Add assets">
        <div class="flex">
          <div class="Clogo">
            <svg *ngIf="task3==true"  width="20" height="20" fill="#008060 " viewBox="0 0 20 20" class="Polaris-Icon__Svg_375hu" focusable="false" aria-hidden="true"><path fill-rule="evenodd" d="M0 10a10 10 0 1 0 20 0 10 10 0 0 0-20 0zm15.2-1.8a1 1 0 0 0-1.4-1.4l-4.8 4.8-2.3-2.3a1 1 0 0 0-1.4 1.4l3 3c.4.4 1 .4 1.4 0l5.5-5.5z"></path></svg>
            <svg width="20" *ngIf="task3==false" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"><circle cx="10" cy="10" r="8.75" stroke="#BABEC3" stroke-width="2.5" stroke-dasharray="3.5 3.5" style="--darkreader-inline-stroke: #bfbab1;" data-darkreader-inline-stroke=""></circle></svg>&nbsp;          </div>
          <div>
            <p>Add your profile and necessary assets for portfolio.</p>
      <br>
            <button routerLink="/add-assets" mat-flat-button class="btn" >Add assets</button>
  
          </div>
  
        </div>
      </p-accordionTab>
     </p-accordion>

    </div>


      </c-row>
        </c-card-body>
      </c-card>

</div>
  
