/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";
.btn-success{
    background-color: #0abca4;
    color: white;
}
.btn-success:hover{
    background-color: #0eaa95;
    color: aliceblue;
}
.btn-primary{
    background-color: #3e4e85;
}

.btn-danger{
    background-color: rgb(223, 70, 85) !important;
    color: white;
}
.btn-danger:hover{
    background-color: rgb(189, 60, 73) !important;
    color: white;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
