<!-- <div class="card mb-4">

    <div class="card-body">
        <div class="container-fluid">
            <div class="row">


                <ng-container *ngFor="let theme of themes" >
                <div class="col-sm-6 col-xl-4">
                    <div class="card">
                        <img class="card-img-top img-fluid"
                            src="{{theme.themeimage}}" alt="Portfolio1">
                            <div class="card-body">
                            <p  >{{theme.themename}}</p >
                                
                                <div class="text-center ">
                                    <a target="_blank" href="{{theme.themeurl}}" class="btn btn-success mb-3 w-100">Live Preview</a>
                                    <a *ngIf="theme._id!=themeid"  (click)="select(theme._id,theme.themeurl)" class="btn btn-primary w-100">Select</a>
                                    <a *ngIf="theme._id==themeid" class="btn btn-custom w-100">Selected
                                    </a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- <a target="_blank" href="http://localhost:4200/#/portfolio/63f340badcea2f7f66bb1f29">app</a>
            <a target="_blank" href="https://webbuilder-portfolio.epizy.com/#/portfolio/63f340badcea2f7f66bb1f29">apwp</a> -->
            
                <!-- <div class="col-sm-6 col-xl-4">
                    <div class="card">
                        <img class="card-img-top img-fluid"
                        src="../../../assets/img/PortfolioIMG/portfolio2.png" alt="portfolio2">
                        <div class="card-body">
                            <p>Simple Portfolio</p >

                            <div class="text-center ">
                                <a target="_blank" href="http://webbuilder-portfolio.epizy.com/"class="btn btn-success mb-3 w-100">Live Preview</a>
                                <a *ngIf="selected==false" (click)="selected=true" class="btn btn-primary w-100">Select</a>
                                <a *ngIf="selected==true" class="btn btn-custom w-100">Selected
                            </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <div class="card">
                        <img class="card-img-top img-fluid"
                            src="../../../assets/img/PortfolioIMG/Portfolio1.png" alt="test_img">
                        <div class="card-body">
                            <p>Demo Portfolio</p >
                            <div class="text-center">
                                <a class="btn btn-success mb-3 w-100">Live Preview</a>
                                <a class="btn btn-primary w-100">Select</a>
                            </div>

                        </div>
                    </div>
                </div> -->


            <!-- </div>
        </div>
    </div>
</div>  -->